/* Form container */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

/* Success and error popups */
.success-popup, .error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.success-popup {
  background-color: #28a745; /* Green background */
}

.error-popup {
  background-color: #dc3545; /* Red background */
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Card styles */
.card {
  background-image: linear-gradient(to right, #00b4db, #0083b0); /* Gradient background */
  border-radius: 15px;
  transition: all 0.3s;
}

.card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  transform: translateY(-5px); /* Move card up on hover */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Heading style */
#heading {
  text-align: center;
  margin: 2em;
  color: #333; /* Dark gray text color */
  font-size: 1.5em; /* Larger font size */
}

/* Input field container */
.field {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 0.6em;
  border: 1px solid #ccc; /* Light gray border */
  outline: none;
  color: #333; /* Dark gray text color */
  background-color: #fff; /* White background */
}

/* Input field icon style */
.input-icon {
  height: 1.5em;
  width: 1.5em;
  fill: #666; /* Gray icon color */
}

/* Input field style */
.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #333; /* Dark gray text color */
}

/* Button styles */
.btn {
  padding: 0.5em 1.5em; /* Adjust button padding */
  border-radius: 15px; /* Rounded corners */
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text color */
}

/* Button hover effect */
.btn:hover {
  background-color: #555; /* Darker gray background on hover */
}
